
/*header style start's here*/
header{
min-height: 150px;
background-color: black;
color: white;
border: 1px double yellow;
padding: 20px;
}

header h1{
	margin: 0;
	font-family: courier;
	text-align: center;
	padding: 20px;
}
/*header style ends's here*/

/*Nav style start's here*/
nav{

min-height: 100px;
background-color: #003333;
border-bottom: 1px double yellow;
}

nav  h2{
	margin: 0;
	font-family: courier;
	text-align: center;
	color: white;
	padding:40px;
}
/*Nav style ends's here*/

/*Main style start's here*/
.main{

min-height: 100px;
overflow: hidden;

}
/*Main style ends's here*/

/*blog style start's here*/
.blog{


min-height: 100px;
background-color: #7B68EE;
width: 60%;
float: left;

}
/*blog style ends's here*/

/*article style ends's here*/
.article{


min-height: 300px;
background-color: #BDB76B;

}

.article h2{
	margin: 0;
	font-family: courier;
	text-align: center;
	color: black;
	padding:50px;
}
/*article style ends's here*/

/*section style start's here*/
.section{


min-height: 300px;
background-color: #2E8B57;
}

.section h2{
	margin: 0;
	font-family: courier;
	text-align: center;
	color: white;
	padding:40px;
}
/*section style ends's here*/

/*sidebar style start's here*/
.sidebar{
min-height: 600px;
background-color: #0A2229;
width: 40%;
float: right
}

.sidebar h1{
	margin: 0;
	font-family: courier;
	text-align: center;
	color: white;
	padding:100px;
}
/*sidebar style ends's here*/

/*footer style start's here*/
footer{

min-height: 100px;
background-color: #191970;
border: 2px double white;
}

footer h1{
	margin: 0;
	font-family: courier;
	text-align: center;
	color: gold;
	padding:20px;
	
}
/*footer style ends's here*/


